html {
  background-color: #2b577a;
}

#landing-page {
  text-align: center;
  background-image: url('./images/coding3.png');
  background-size: cover;
  height: 130vh;
}

.animated span,
.landing-name span,
.landing-text span{
  background-color: yellow;
  color: black;
}


h1 {
  margin-top: 5%;
  font-family: monospace;
}

h2 {
  text-align: center;
  font-family: monospace;
}


h2 span{
  text-align: center;
  border-radius: 5%;
  color: red;
  background-color: yellow;
}

#project-squares {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  border-radius: 5%;
}


#project-squares img {
  height: 80%;
  width: 60%;
  margin-left: 25%;
}

#project-squares img:hover {
  cursor: pointer;
  filter: contrast(50%);
}

#project-squares p {
  padding-right: 2%;
  height: 45vh;
}


#nav-bar {
  list-style-type: none;
  text-align: center;
  top: -50%;
}

li {
  display: inline;
  margin: 100px;
}

li a {
  text-decoration: none;
  color: red;
  font-family: monospace;
  font-size: larger;
}

li a:hover {
  background-color: yellow;
  font-weight: 600;
}

@media (max-width: 950px) {
  li {
    display: block;
    margin: 10px 0;
  }
}

.contact {
  font-weight: 600;
}

div #projects {
  background: url('./images/code_2.jpg');
}

#projects-header {
  margin-top: 10%;
}

#tech-stack {
  background: url('./images/code_3.jpg');
  margin-top: -1.5%;
  background-position: 10%;
}


.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  cursor: pointer;
}

.back-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}

#reach-me {
  text-align: center;
}

.container-1 {
  position: relative;
  text-align: center;
}

img #one, img #two, img #three {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: 40px;  
}

#eye1, #eye2, #eye3, #eye4, #eye5, #eye6 {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}

#github {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.eye {
  position: relative;
}

.eye #eye1, .eye #github, .eye #eye2, .eye #eye3, .eye #eye4, .eye #eye5, .eye #eye6 {
  height: 6%;
  width: 20px;
  background-color: yellow;
  border-radius: 50%;
}

#project-1, #project-2, #project-3, #project-4, #project-5, #project-6 {
  height: 500px;
}

.caption {
  display: block;
  top: -100px;
  left: 300px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: rgb(248, 248, 248);
  text-shadow: 3em;
  font-weight: 600;
}

.overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 60%;
  left: 50%;
  height: 20%;
  width: auto;
  transform: translate(-40%, -50%);
  text-align: center;
  background-color: rgba(128, 128, 128, 0.641);
}



@media screen and (max-width: 920px) {
  #project-squares {
   display: list-item;
    justify-content: center;
  }

  #image-container img {
    display: grid;
  }
}

#image-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
}

#image-container img {
  width: 60%;
  margin-left: 15%;
}

form {
  text-align: center;
  width: 93%;
  height: 200px;
}


#ctc-form {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-left: -2%;
}

#ctc-form input, #ctc-form textarea, label {
  width: 153%;
  display: grid;
  font-weight: 600;
}

#send-btn {
  background-color: yellow;
  color: red;
  font-weight: 600;
  font-size: large;
  height: 50px;
  width: 100px;
  margin-left: 45%;
  cursor: pointer;
}


#interview-ctc {
  margin-top: 2%;
  text-shadow: #bfc5ca;
}